<div class="sessions">
  <div class="page-container">
    <div class="background-khai">
      <div class= "whitefont">
      <h1>Login</h1>
      </div>
      <%= form_for(:user, url: sessions_path, html: { id: "user-login-form" }) do |f| %>
      <%= f.text_field :email, required: true, id: "user_email_field", class: 'username', placeholder: "E-mail"%>
      <%= f.password_field :password, required: true, id: "user_password_field", class: 'password', placeholder: "Password" %>
      <div class="text-center">
        <button name="commit" value="" data-disabled-with="login"> Sign Me In </button>
      </div>
      <div class="connect">
        <p> or connect with: </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
