<div class="landing">

  <div class="background">
    <div class="title-container">
      <div class="title text-center">
        <p> Party Anywhere </p>
        <hr class="short-underline">
      </div>

      <div class="subtitle text-center">
        <p> Pay only once and enter multiple clubs in KL </p>
      </div>

    </div>
  </div>

  <div class="features-container">
    <div class="features text-center">
      <%= fa_icon 'money 5x' %>
      <p> Pay Once </p>
    </div>

    <div class="features text-center">
      <%= fa_icon 'map-marker 5x' %>
      <p> Multiple Clubs </p>
    </div>

    <div class="features text-center">
      <%= fa_icon 'mobile 5x' %>
      <p> Ticket in App </p>
    </div>
  </div>



</div>
